.home__container {
    row-gap: 7rem;
}

.home__data {
    grid-column: 1/3;
    margin-left: 18rem;
    margin-right: 18rem;
}

.home__content {
    text-align: center;
    align-items: center;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
    text-align: center;
    color: var(--title-color);
}

.home__subtitle {
    position: relative;
    font-size: var(--h1-font-size);
    text-align: center;
    font-weight: var(--font-normal);
    margin: var(--mb-1);
}

.home__description {
    margin-bottom: var(--mb-3);
    text-align: center;
    max-width: initial;
}

.home__filters {
    display: flex;
}

.home__skeleton {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: var(--mb-2-5);
    margin-top: 2rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        column-gap: 1.25rem;
    }

    .home__subtitle {
        margin-bottom: var(--mb-1);
    }

    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__data {
        grid-column: 1/3;
        margin-left: 5rem;
        margin-right: 5rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
    }

    .home__data {
        grid-column: 1/3;
        margin: initial;
    }

    .home__filters {
        display: grid;
    }

    .home__skeleton {
        margin-top: 1.5rem;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    
  }