.slider__container {
    width: 750px;
}

.slider__card {
    background-color: #00C49A;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%; /* Full width of the SwiperSlide */
    height: max-content; /* Fixed height, adjust as needed */
    display: flex;
    flex-direction: column; /* Vertical arrangement */
    justify-content: space-between; /* Distribute content evenly */
    box-sizing: border-box;
}

.slider__img {
    width: 100%;
    max-width: 350px;
    height: 200px; /* Set a fixed height for consistency */
    object-fit: cover; /* Crop or adjust the image to fit */
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.slider__name {
    /* font-size: var(--normal-font-size); */
    /* font-weight: var(--font-medium); */
    margin-bottom: 0.25rem;
}

.slider__description {
    /* font-size: var(--small-font-size); */
    margin-bottom: 1rem;
}

/* Swiper Class */
.swiper-pagination-bullet {
    background-color: black !important;
}

.swiper-pagination-bullet-active {
    background-color: grey !important;
}

.slider__button {
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.slider__button:hover {
    color: var(--title-color-dark);
}

.slider__button-icon {
    font-size: 1rem;
    transition: 0.4s;
}

.slider__name-icon {
    margin-left: var(--mb-0-25);
    font-size: var(--small-font-size);
    height: 0%;
    color: var(--title-color-dark);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .interests__container {
        width: initial;
    }

    .interests__card {
        padding: 1.25rem 1.5rem;
    }
}